body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
	cursor: pointer;
} 
.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

#bg_2x {
	left:0px;
	top:0px;
	width:160px;
	height:600px;
	background-image:url(../img/bg_2x.jpg);
	background-size:160px 600px;
}

#line1_2x {
	left:44px;
	top:540px;
	width:71px;
	height:2px;
	background-image:url(../img/line1_2x.png);
	background-size:71px 2px;
}

#line2_2x {
	left:112px;
	top:540px;
	width:3px;
	height:27px;
	background-image:url(../img/line2_2x.png);
	background-size:3px 27px;
}

#line3_2x {
	left:44px;
	top:564px;
	width:71px;
	height:3px;
	background-image:url(../img/line3_2x.png);
	background-size:71px 3px;
}

#line4_2x {
	left:44px;
	top:540px;
	width:2px;
	height:27px;
	background-image:url(../img/line4_2x.png);
	background-size:2px 27px;
}

#logoCopy_2x {
	left:45px;
	top:571px;
	width:71px;
	height:7px;
	background-image:url(../img/logoCopy_2x.png);
	background-size:71px 7px;
}

#logo_2x {
	left:50px;
	top:546px;
	width:59px;
	height:15px;
	background-image:url(../img/logo_2x.png);
	background-size:59px 15px;
}

#c1_2x {
	left:13px;
	top:38px;
	width:136px;
	height:65px;
	background-image:url(../img/c1_2x.png);
	background-size:136px 65px;
}

#c2_2x {
	left:11px;
	top:122px;
	width:119px;
	height:54px;
	background-image:url(../img/c2_2x.png);
	background-size:119px 54px;
}

#loc_2x {
	left:11px;
	top:16px;
	width:102px;
	height:17px;
	background-image:url(../img/loc_2x.png);
	background-size:102px 17px;
}

#cta_2x {
	left:32px;
	top:496px;
	width:96px;
	height:32px;
	background-image:url(../img/cta_2x.png);
	background-size:96px 32px;
}

#circ5_2x {
	left:115px;
	top:540px;
	width:2px;
	height:2px;
	background-image:url(../img/circ5_2x.png);
	background-size:2px 2px;
}

#backup {
	left:0px;
	top:0px;
	width:160px;
	height:600px;
	background-image:url(../img/backup.jpg);
}