body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
	cursor: pointer;
} 
.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

#bg_2x {
	left:0px;
	top:0px;
	width:320px;
	height:50px;
	background-image:url(../img/bg_2x.jpg);
	background-size:320px 50px;
}

#line1_2x {
	left:289px;
	top:28px;
	width:27px;
	height:2px;
	background-image:url(../img/line1_2x.png);
	background-size:27px 2px;
}

#line2_2x {
	left:315px;
	top:28px;
	width:1px;
	height:11px;
	background-image:url(../img/line2_2x.png);
	background-size:1px 11px;
}

#line3_2x {
	left:289px;
	top:37px;
	width:27px;
	height:2px;
	background-image:url(../img/line3_2x.png);
	background-size:27px 2px;
}

#line4_2x {
	left:289px;
	top:28px;
	width:2px;
	height:11px;
	background-image:url(../img/line4_2x.png);
	background-size:2px 11px;
}

#logoCopy_2x {
	left:289px;
	top:40px;
	width:28px;
	height:3px;
	background-image:url(../img/logoCopy_2x.png);
	background-size:28px 3px;
}

#logo_2x {
	left:291px;
	top:30px;
	width:23px;
	height:6px;
	background-image:url(../img/logo_2x.png);
	background-size:23px 6px;
}

#c1_2x {
	left:6px;
	top:12px;
	width:55px;
	height:26px;
	background-image:url(../img/c1_2x.png);
	background-size:55px 26px;
}

#c2_2x {
	left:67px;
	top:12px;
	width:58px;
	height:26px;
	background-image:url(../img/c2_2x.png);
	background-size:58px 26px;
}

#loc_2x {
	left:248px;
	top:37px;
	width:36px;
	height:6px;
	background-image:url(../img/loc_2x.png);
	background-size:36px 6px;
}

#cta_2x {
	left:287px;
	top:10px;
	width:30px;
	height:10px;
	background-image:url(../img/cta_2x.png);
	background-size:30px 10px;
}

#circ5_2x {
	left:316px;
	top:28px;
	width:1px;
	height:1px;
	background-image:url(../img/circ5_2x.png);
	background-size:1px 1px;
}

#backup {
	left:0px;
	top:0px;
	width:320px;
	height:50px;
	background-image:url(../img/backup.jpg);
}