

#c1_2x {
	left:27px;
	top:12px;
	width:111px;
	height:52px;
	background-image:url(../img/c1_2x.png);
	background-size:111px 52px;
}

#c3_2x {
	left:469px;
	top:18px;
	width:161px;
	height:31px;
	background-image:url(../img/c3_2x.png);
	background-size:161px 31px;
}

#circ5_2x {
	left:714px;
	top:46px;
	width:2px;
	height:2px;
	background-image:url(../img/circ5_2x.png);
	background-size:2px 2px;
}

#cta_2x {
	left:469px;
	top:55px;
	width:68px;
	height:23px;
	background-image:url(../img/cta_2x.png);
	background-size:68px 23px;
}

#line1_2x {
	left:655px;
	top:46px;
	width:60px;
	height:2px;
	background-image:url(../img/line1_2x.png);
	background-size:60px 2px;
}

#line2_2x {
	left:712px;
	top:46px;
	width:3px;
	height:23px;
	background-image:url(../img/line2_2x.png);
	background-size:3px 23px;
}

#line3_2x {
	left:655px;
	top:66px;
	width:60px;
	height:2px;
	background-image:url(../img/line3_2x.png);
	background-size:60px 2px;
}

#line4_2x {
	left:655px;
	top:46px;
	width:2px;
	height:23px;
	background-image:url(../img/line4_2x.png);
	background-size:2px 23px;
}

#loc_2x {
	left:28px;
	top:75px;
	width:187px;
	height:11px;
	background-image:url(../img/loc_2x.png);
	background-size:187px 11px;
}

#logoCopy_2x {
	left:656px;
	top:72px;
	width:60px;
	height:6px;
	background-image:url(../img/logoCopy_2x.png);
	background-size:60px 6px;
}

#logo_2x {
	left:660px;
	top:51px;
	width:50px;
	height:13px;
	background-image:url(../img/logo_2x.png);
	background-size:50px 13px;
}

#backup {
	left:0px;
	top:0px;
	width:728px;
	height:90px;
	background-image:url(../img/backup.jpg);
}

#bg_2x {
	left:0px;
	top:0px;
	width:728px;
	height:90px;
	background-image:url(../img/bg_2x.jpg);
	background-size:728px 90px;
}
