

#c1_2x {
	left:13px;
	top:19px;
	width:136px;
	height:65px;
	background-image:url(../img/c1_2x.png);
	background-size:136px 65px;
}

#c2_2x {
	left:11px;
	top:102px;
	width:123px;
	height:54px;
	background-image:url(../img/c2_2x.png);
	background-size:123px 54px;
}

#c3_2x {
	left:30px;
	top:451px;
	width:100px;
	height:35px;
	background-image:url(../img/c3_2x.png);
	background-size:100px 35px;
}

#circ5_2x {
	left:115px;
	top:540px;
	width:2px;
	height:2px;
	background-image:url(../img/circ5_2x.png);
	background-size:2px 2px;
}

#cta_2x {
	left:32px;
	top:496px;
	width:96px;
	height:32px;
	background-image:url(../img/cta_2x.png);
	background-size:96px 32px;
}

#line1_2x {
	left:44px;
	top:540px;
	width:71px;
	height:2px;
	background-image:url(../img/line1_2x.png);
	background-size:71px 2px;
}

#line2_2x {
	left:112px;
	top:540px;
	width:3px;
	height:27px;
	background-image:url(../img/line2_2x.png);
	background-size:3px 27px;
}

#line3_2x {
	left:44px;
	top:564px;
	width:71px;
	height:3px;
	background-image:url(../img/line3_2x.png);
	background-size:71px 3px;
}

#line4_2x {
	left:44px;
	top:540px;
	width:2px;
	height:27px;
	background-image:url(../img/line4_2x.png);
	background-size:2px 27px;
}

#loc_2x {
	left:11px;
	top:162px;
	width:102px;
	height:17px;
	background-image:url(../img/loc_2x.png);
	background-size:102px 17px;
}

#logoCopy_2x {
	left:45px;
	top:571px;
	width:71px;
	height:7px;
	background-image:url(../img/logoCopy_2x.png);
	background-size:71px 7px;
}

#logo_2x {
	left:50px;
	top:546px;
	width:59px;
	height:15px;
	background-image:url(../img/logo_2x.png);
	background-size:59px 15px;
}

#backup {
	left:0px;
	top:0px;
	width:160px;
	height:600px;
	background-image:url(../img/backup.jpg);
}

#bg_2x {
	left:0px;
	top:0px;
	width:160px;
	height:600px;
	background-image:url(../img/bg_2x.jpg);
	background-size:160px 600px;
}
