body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
	cursor: pointer;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

#bg_2x {
	left:0px;
	top:0px;
	width:320px;
	height:50px;
	background-image:url(../img/bg_2x.jpg);
	background-size:320px 50px;
}

#c1_2x {
	left:6px;
	top:12px;
	width:55px;
	height:26px;
	background-image:url(../img/c1_2x.png);
	background-size:55px 26px;
}

#c3_2x {
	left:204px;
	top:18px;
	width:71px;
	height:14px;
	background-image:url(../img/c3_2x.png);
	background-size:71px 14px;
}

#cta_2x {
	left:285px;
	top:10px;
	width:30px;
	height:10px;
	background-image:url(../img/cta_2x.png);
	background-size:30px 10px;
}

#backup {
	left:0px;
	top:0px;
	width:320px;
	height:50px;
	background-image:url(../img/backup.jpg);
}