body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
	cursor: pointer;
} 
.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

#bg_2x {
	left:0px;
	top:0px;
	width:728px;
	height:90px;
	background-image:url(../img/bg_2x.jpg);
	background-size:728px 90px;
}

#line1_2x {
	left:515px;
	top:25px;
	width:73px;
	height:2px;
	background-image:url(../img/line1_2x.png);
	background-size:73px 2px;
}

#line2_2x {
	left:586px;
	top:25px;
	width:2px;
	height:28px;
	background-image:url(../img/line2_2x.png);
	background-size:2px 28px;
}

#line3_2x {
	left:515px;
	top:51px;
	width:73px;
	height:2px;
	background-image:url(../img/line3_2x.png);
	background-size:73px 2px;
}

#line4_2x {
	left:515px;
	top:25px;
	width:2px;
	height:28px;
	background-image:url(../img/line4_2x.png);
	background-size:2px 28px;
}

#logoCopy_2x {
	left:517px;
	top:57px;
	width:74px;
	height:7px;
	background-image:url(../img/logoCopy_2x.png);
	background-size:74px 7px;
}

#logo_2x {
	left:522px;
	top:32px;
	width:61px;
	height:16px;
	background-image:url(../img/logo_2x.png);
	background-size:61px 16px;
}

#c1_2x {
	left:27px;
	top:12px;
	width:111px;
	height:52px;
	background-image:url(../img/c1_2x.png);
	background-size:111px 52px;
}

#c2_2x {
	left:330px;
	top:16px;
	width:113px;
	height:50px;
	background-image:url(../img/c2_2x.png);
	background-size:113px 50px;
}

#loc_2x {
	left:28px;
	top:75px;
	width:190px;
	height:10px;
	background-image:url(../img/loc_2x.png);
	background-size:190px 10px;
}

#cta_2x {
	left:619px;
	top:31px;
	width:84px;
	height:28px;
	background-image:url(../img/cta_2x.png);
	background-size:84px 28px;
}

#circ5_2x {
	left:589px;
	top:25px;
	width:2px;
	height:3px;
	background-image:url(../img/circ5_2x.png);
	background-size:2px 3px;
}

#backup {
	left:0px;
	top:0px;
	width:728px;
	height:90px;
	background-image:url(../img/backup.jpg);
}