

#cta_2x {
	left:15px;
	top:214px;
	width:70px;
	height:23px;
	background-image:url(../img/cta_2x.png);
	background-size:70px 23px;
}

#bg_2x {
	left:0px;
	top:0px;
	width:300px;
	height:250px;
	background-image:url(../img/bg_2x.jpg);
	background-size:300px 250px;
}
