body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
	cursor: pointer;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

#bg_2x {
	left:0px;
	top:0px;
	width:300px;
	height:600px;
	background-image:url(bg_2x.jpg);
	background-size:300px 600px;
}

#line1_2x {
	left:210px;
	top:542px;
	width:71px;
	height:3px;
	background-image:url(line1_2x.png);
	background-size:71px 3px;
}

#line2_2x {
	left:278px;
	top:542px;
	width:3px;
	height:27px;
	background-image:url(line2_2x.png);
	background-size:3px 27px;
}

#line3_2x {
	left:210px;
	top:567px;
	width:71px;
	height:2px;
	background-image:url(line3_2x.png);
	background-size:71px 2px;
}

#line4_2x {
	left:210px;
	top:542px;
	width:2px;
	height:27px;
	background-image:url(line4_2x.png);
	background-size:2px 27px;
}

#logoCopy_2x {
	left:211px;
	top:573px;
	width:71px;
	height:7px;
	background-image:url(logoCopy_2x.png);
	background-size:71px 7px;
}

#logo_2x {
	left:216px;
	top:548px;
	width:59px;
	height:15px;
	background-image:url(logo_2x.png);
	background-size:59px 15px;
}

#c1_2x {
	left:17px;
	top:44px;
	width:182px;
	height:87px;
	background-image:url(c1_2x.png);
	background-size:182px 87px;
}

#loc_2x {
	left:17px;
	top:9px;
	width:91px;
	height:24px;
	background-image:url(loc_2x.png);
	background-size:91px 24px;
}

#c3_2x {
	left:65px;
	top:443px;
	width:170px;
	height:68px;
	background-image:url(c3_2x.png);
	background-size:170px 68px;
}

#cta_2x {
	left:17px;
	top:542px;
	width:95px;
	height:32px;
	background-image:url(cta_2x.png);
	background-size:95px 32px;
}



#box_2x {
	left:232px;
	top:211px;
	width:56px;
	height:21px;
	background-image:url(box_2x.png);
	background-size:56px 21px;
}

#circ5_2x {
	left:281px;
	top:542px;
	width:2px;
	height:3px;
	background-image:url(circ5_2x.png);
	background-size:2px 3px;
}

#backup {
	left:0px;
	top:0px;
	width:300px;
	height:600px;
	background-image:url(backup.jpg);
}