body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
	cursor: pointer;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}


#bg_2x {
	left:0px;
	top:0px;
	width:300px;
	height:250px;
	background-image:url(../img/bg_2x.jpg);
	background-size:300px 250px;
}

#line1_2x {
	left:232px;
	top:210px;
	width:54px;
	height:2px;
	background-image:url(../img/line1_2x.png);
	background-size:54px 2px;
}

#line2_2x {
	left: 283.7px;
    top: 210px;
    width: 2.5px;
    height: 21px;
    background-image: url(../img/line2_2x.png);
    background-size: 2.5px 21px;
}

#line3_2x {
	left:232px;
	top:229.1px;
	width:54px;
	height:2px;
	background-image:url(../img/line3_2x.png);
	background-size:54px 2px;
}

#line4_2x {
	left:232px;
	top:210px;
	width:2px;
	height:21px;
	background-image:url(../img/line4_2x.png);
	background-size:2px 21px;
}

#logoCopy_2x {
	left:233px;
	top:234px;
	width:55px;
	height:5px;
	background-image:url(../img/logoCopy_2x.png);
	background-size:55px 5px;
}

#logo_2x {
    left: 237px;
    top: 214px;
    width: 45px;
    height: 12px;
    background-image: url(../img/logo_2x.png);
    background-size: 45px 12px;
}

#c1_2x {
	left:16px;
	top:10px;
	width:118px;
	height:56px;
	background-image:url(../img/c1_2x.png);
	background-size:118px 56px;
}

#c2_2x {
	left:14px;
	top:75px;
	width:150px;
	height:31px;
	background-image:url(../img/c2_2x.png);
	background-size:150px 31px;
}

#loc_2x {
	left:203px;
	top:11px;
	width:83px;
	height:14px;
	background-image:url(../img/loc_2x.png);
	background-size:83px 14px;
}

#c3_2x {
	left:14px;
	top:176px;
	width:87px;
	height:31px;
	background-image:url(../img/c3_2x.png);
	background-size:87px 31px;
}

#cta_2x {
	left:14px;
	top:214px;
	width:74px;
	height:24px;
	background-image:url(../img/cta_2x.png);
	background-size:74px 24px;
}



#box_2x {
	left:232px;
	top:211px;
	width:56px;
	height:21px;
	background-image:url(../img/box_2x.png);
	background-size:56px 21px;
}

#circ5_2x {
	left:286px;
	top:211px;
	width:2px;
	height:2px;
	background-image:url(../img/circ5_2x.png);
	background-size:2px 2px;
}

#backup {
	left:0px;
	top:0px;
	width:300px;
	height:250px;
	background-image:url(../img/backup.jpg);
}